<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pay Supplier</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="regform">
 <ion-item>
          <ion-label> Select Vendor</ion-label>
          <div class="dx-field">
            <dx-lookup [items]="listOfVonder" [searchExpr]="['id','vendorName','contact', 'phonenumber','address']" valueExpr="id"
              [displayExpr]="getDisplayExpr" placeholder="Select Items" formControlName="vendor"
              (onValueChanged)="SelectedValue($event)" itemTemplate="listOfVonder"
              [(ngModel)]="defaultSelectedCurrency">
              <dxo-drop-down-options title="Select vendors"></dxo-drop-down-options>
              <div *dxTemplate="let item of 'listOfVonder'">
                <div class="custom-item">
                 <div>{{item.vendorName }} &nbsp;&nbsp;{{item.contact }} &nbsp;&nbsp;{{item.phonenumber}}</div>
                </div>
              </div>
            </dx-lookup>
          </div>
    </ion-item>
    <ion-item >
       <ion-label>Balance </ion-label>
        <ion-input [(ngModel)]="this.Balance" formControlName="updateBalance" value="{{updateBalance}}" readonly></ion-input>
     </ion-item>
    <ion-item>
      <ion-label  position="floating" >Enter Payment </ion-label>
        <ion-input type="number" formControlName="payment" aria-placeholder="Enter payment" [(ngModel)]="payment" 
        (keyup)="onKey()"></ion-input>
        <small class="form-text text-muted" *ngIf="!regform.get('payment').valid && regform.get('payment').touched" > This field is required! </small> 
    </ion-item>
    <div style="text-align: center; margin: auto;">
      <ion-button id="add items" (click)="reCalculateBalance()" [disabled]="!regform.valid"> 
        <ion-icon slot="start" name="add-circle-outline"></ion-icon>Calculate Balance
       </ion-button>
    </div>
  </form>
  <table class="table table-hover">
    <colgroup>
      <col width="5%">
      <col width="*">
      <col width="10%">
      <col width="15%">
    </colgroup>
    <thead>
      <tr>
        <th scope="col">Order Number</th>
        <th scope="col">Date</th>
        <th scope="col">Total</th>
        <th scope="col">Balance</th>
        <th scope="col">Payment</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listOfVoucher;">
        <td>{{item.vocherId}}</td>
        <td>{{item.date}}</td>
        <td>{{item.grandTotal}}</td>
        <td>{{item.subTotal}}</td>
        <td></td><!-- <ion-input formControlName="payment" ></ion-input> -->
        
      </tr>
    </tbody>
  </table>
</ion-content>
