<ion-header [translucent]="true">
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-menu-button></ion-menu-button>
	  </ion-buttons>
	  <ion-title>Reset Password</ion-title>
	</ion-toolbar>
  </ion-header>

<ion-content>
	<form #form="ngForm"(ngSubmit)="resetPassword(form)">
	  <div>
		  <ion-item>
			<ion-input name="ema il" type="email" placeholder="your@email.com" ngModel required>Email:</ion-input>
		  </ion-item>
		  
	 </div>
	 <div style="text-align: center; margin: auto;">
        <ion-button type="submit" [disabled]="form.invalid">Reset Now</ion-button>
	 </div>
	</form>

</ion-content>
